[submodule "visualize-devin-in-web"]
	path = visualize-devin-in-web
	url = git@github.com:newkub/visualize-devin-in-web.git
[submodule "open-files-in-web"]
	path = open-files-in-web
	url = https://github.com/newkub/open-files-in-web
[submodule "use-github-ship-bots/github-ship-bots"]
	path = use-github-ship-bots/github-ship-bots
	url = https://github.com/newkub/github-ship-bots.git
